@{ 
    Layout = null;
}
@using GameDevicesStore.DataAcces.Entities

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @foreach (Device device in ViewBag.Devices)
        {
          <p>@device.Name</p>
         <p>@device.Price</p>
         <p>@device.ReleaseDate</p>
        }
    </div>
</body>
</html>
