@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using GameDevicesStore.DataAcces.Entities

    <div class="container">
        <div class="row">
            @foreach (Device device in ViewBag.Devices)
            {
                <div class="col-4">
                    <div class=" card bg-info">
                        <div class="card-body">
                            <p>@device.Name</p>
                            <p>@device.Price</p>
                            <p>@device.ReleaseDate</p>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>

